@font-face {
    font-family: "CalibreSemibold";
    src: url("../fonts/CalibreSemibold.otf") format("opentype");
  }


  @font-face {
    font-family: "SourceSerif4";  
    src: url("..//fonts/SourceSerif4.ttf") format("opentype");

  }

  @font-face {
    font-family: "BagelFatOne";  
    src: url("..//fonts/BagelFatOne-Regular.ttf") format("opentype");

  }
  

  

body {
    background-color: #ffffff;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}




.button_more {
  border-radius: 10px;
  margin: 5px;
  margin-top: 40px;
  border: 3px solid #ffffff73;
  background-color: rgba(19, 56, 188, 0); /* Initial transparent background */
  color: #ffffff;
  padding: 10px 20px 10px 16px;
  background-size: 350% 100%;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.38) 50%);
  transition: background-color 0.3s ease, background-image 0.3s ease;
}

.button_more:hover {
  background-color: rgb(255, 255, 255); /* Change background opacity on hover */
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.61) 50%);
  color: #000000;
}

.button_more2 {
  border-radius: 10px;
  margin: 5px;
  margin-top: 40px;
  border: 3px solid #1f00243f;
  background-color: rgba(19, 56, 188, 0); /* Initial transparent background */
  color: #000000a6;
  padding: 10px 20px 10px 16px;
  background-size: 350% 100%;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.38) 50%);
  transition: background-color 0.3s ease, background-image 0.3s ease;
}

.button_more2:hover {
  background-color: rgb(82, 3, 78); /* Change background opacity on hover */
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.61) 50%);
  color: #ffffff;
}




h1 {
    font-family: "Borel-Regular";
    font-size:30px;;
    color: #ffffff74;
    margin:8px;
    padding: 8px;
    font-weight: 300;

}

h2 {
    font-size:25px;
    color: #000000;
    margin: 10px;
    font-weight: 300;
}

h3 {
    font-size:25px;
    color: #000000;
    margin: 0px;
    font-weight:500;
    margin-top: 20px;
}


h4 {
    font-size:20px;
    color: #000000;
    margin: 0px;
    margin-bottom: 10px;
    font-weight:500;
}

p {
    color: #000000c0;
    margin: 0px;
    margin-top: 15px;
    margin-bottom:10px;
} 

li {
    color: #000000e4;
    margin: 0px;
    padding: 5px;
    font-size: 16px;
}

.splash {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    color: white;
    font-family: 'BagelFatOne';
  }
  
  .splash::before,
  .splash::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #8100BD;
    z-index: -1;
    transition: background-color 2s;
  }
  
  .splash.loading::after {
    background-color: #8100BD;
    ; /* Change to desired color after 2 seconds */
  }
  
 
  
  .glitch {
    transform: scale(0.6,0.6);
  }
  
 
  .hidden {
    display: none;
  }
  


.pfp {
    width: 70px;
    height: 70px; /* Set height to match width for a more consistent shape */
    border-radius: 90% 70% 80% 80% / 60% 50% 90% 80%; /* Customize border radius values */
}


.pfp2{
    width:40px;
    margin: 0px;
    padding: 0px;
    transform: translateY(-10px);
}
.pfp3{
    width:40px;
    margin: 0px;
    padding: 0px;
    transform: translateY(-6px);
}

.unnamed{
    margin: 30px;
    margin-bottom: 5px;
    padding: 5px;
    width: 50px;
    height: 50px;
    border: 1px solid #00000035;
    border-radius: 200px;
}

.abouts{
  font-family: sans-serif;
  margin-top: 20px;
  padding: 20px;
}

.projects {   
    opacity: 0%;
    height: auto;
    padding:0px;
    transition: opacity 0.5s ease; /* Smooth transition for opacity change */
}
.box{
    margin: 0px;
    margin-top: 40px;
    padding: 20px;
    display: flex;
}

.boxmini{
  text-align: right;
  margin: 10px;
}

.projectimg{
    height:25vw;
}

.sourceb {
    text-decoration: none;
    background-color: #1338bc00;
    color: #000000;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: auto;
    border: 3px solid #2b4b72;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, #1338bc00 50%, #2b4b72 50%);
    transition: background-position 0.3s ease;
    margin: 0px;
}

.sourceb:hover {
    background-position: -100% 0;
    color:#ffffff;
}






.experience {
    opacity: 0%;
    height: auto;
    padding: 20px;
    transition: opacity 0.5s ease; /* Smooth transition for opacity change */
}

.skills {
    opacity: 0%;
    height: auto;
    padding: 20px;
    transition: opacity 0.5s ease; /* Smooth transition for opacity change */
}

.contact {
    color:#fff;
    height:20vh;
    padding: 20px;
}

.contact_mom{
margin: 0px;
height: 20vh;
text-align: center;
align-content: center;

}


.grid-container {
    display: grid;
    grid-gap: 10px; /* gap between grid items */
    padding: 0px; /* padding around the grid */
}

@media only screen and (min-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(8, 1fr); /* 8 equal columns for desktop */
        grid-auto-rows: calc(12.5vw - 10px); /* Setting height equal to width */
    }
}

@media only screen and (max-width: 767px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr); /* 4 equal columns for mobile */
        grid-auto-rows: calc(25vw - 10px); /* Setting height equal to width */
    }
}


.grid-item {
    padding: 10px;
    text-align: center;
    align-content:center;
    margin: 10px;
    width:40%;
    font-size: small;
}

.pfp4{
    width:100%;
    margin: 0px;
    padding: 0px;
}





.email {
    margin: 0px;
    width:50vw;
    padding: 10px;
    margin-bottom: 10px;
    border:none;
    border-radius:10px;
    background-color: #e2e2e2;
    color: #000000;
}

.name {
    margin: 0px;
    width: 25vw;
    padding: 10px;
    margin-bottom: 10px;
    border:none;
    border-radius:10px;
    background-color: #e2e2e2;
    color: #000000;
}
.message {
    margin: 0px;
    width: 50vw;
    padding: 10px;
    margin-bottom: 10px;
    border:none;
    border-radius:10px;
    background-color: #e2e2e2;
    color: #000000;
}


.footies{
    margin: 0px;
    padding-top: 15px;
    color: rgb(255, 255, 255);
    opacity:0%;
    transition: opacity 1s ease; /* Smooth transition for opacity change */
}

@keyframes fade {
    0% { opacity: 0.25; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
  }
  

  .tag{
    background-color: #ff3c00;
    border-radius: 100px;
    padding:5px;
    padding-left:10px;
    padding-right:10px;
    text-decoration: none;
    color: #e9e9e9;
  }





  /* Add this CSS */
.skills {
    position: relative;
    overflow: hidden;
  }
  
  .scroll-container {
    width: 200%;
    display: flex;
    white-space: nowrap;
    overflow-x: hidden;
    animation: scroll 15s linear infinite;
  }
  
  .grid-item {
    display: inline-block;
    text-align: center;
    padding: 0 10px;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  


/* Default styles for desktop */
.background-div {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  width: 100vh;
  height: 100vh;
  background-image: url('../images/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Styles for mobile */
@media (max-width: 768px) {
.background-div {
  width: 100vw;
  height: 100vw; /* Adjust the height as needed */
}
}
