@font-face {
    font-family: "CalibreSemibold";
    src: url("../fonts/CalibreSemibold.otf") format("opentype");
  }


  @font-face {
    font-family: "SourceSerif4";  
    src: url("..//fonts/SourceSerif4.ttf") format("opentype");

  }

  @font-face {
    font-family: "BagelFatOne";  
    src: url("..//fonts/BagelFatOne-Regular.ttf") format("opentype");

  }
  
  

body {
    background-color: #fffae7;
    margin: 0px;
    padding: 0px;
}
.button_more{
    margin-top: 40px;
    padding: 10px;
    border: 3px solid #ffffff6f;
    border-radius: 0px;
}

h1 {
    font-family: "CalibreSemibold";
    font-size: clamp(1.5rem, 10vw, 2rem);
    color: #2684ff;
    margin: 0px;
    font-family: sans-serif;
    font-weight: 300;
}

h2 {
    font-size:25px;
    color: #000000;
    margin: 10px;
    font-weight: 300;
}

h3 {
    font-size:25px;
    color: #000000;
    margin: 0px;
    font-weight:500;
    margin-top: 20px;
}


h4 {
    font-size:20px;
    color: #000000;
    margin: 0px;
    margin-bottom: 10px;
    font-weight:500;
}

p {
    color: #000000c0;
    margin: 0px;
    margin-bottom:10px;
}
li {
    color: #000000e4;
    margin: 0px;
    padding: 5px;
    font-size: 16px;
}

.splash {
    align-content: center;
    text-align: center;
    height: 100vh;
    background-color: #1338bc;
    width: 100%;
}



.pfp {
    width: 70px;
    height: 70px; /* Set height to match width for a more consistent shape */
    border-radius: 90% 70% 80% 80% / 60% 50% 90% 80%; /* Customize border radius values */
}


.pfp2{
    width:40px;
    margin: 0px;
    padding: 0px;
    transform: translateY(-10px);
}
.pfp3{
    width:40px;
    margin: 0px;
    padding: 0px;
    transform: translateY(-6px);
}

.about {
    opacity: 0%;
    height:auto;
    padding: 20px;
    transition: opacity 0.5s ease; /* Smooth transition for opacity change */
}

.projects {   
    opacity: 0%;
    height: auto;
    padding:0px;
    transition: opacity 0.5s ease; /* Smooth transition for opacity change */
}
.box{
    margin: 0px;
    margin-bottom: 50px;
    text-align: right;
}
.projectimg{
    width: 100%;
}

.sourceb {
    border: none;
    border-radius: 10px;
    background-color: #d4d6de;
    color: #000000;
    padding: 8px;
    width: auto;
}


.tryb {
    border: none;
    border-radius: 10px;
    background-color: #1338bc;
    color: #ffffff;
    padding: 8px;
    margin: 5px;
    margin-right:0px;
}

.experience {
    opacity: 0%;
    height: auto;
    padding: 20px;
    transition: opacity 0.5s ease; /* Smooth transition for opacity change */
}

.skills {
    opacity: 0%;
    height: auto;
    padding: 20px;
    transition: opacity 0.5s ease; /* Smooth transition for opacity change */
}

.contact {
    height: 90vh;
    padding: 20px;
}
.contact_mom{
margin: 0px;
width: 360px;
height: 100%;
text-align: center;
align-content: center;

}


.grid-container {
    display: grid;
    grid-gap: 10px; /* gap between grid items */
    padding: 0px; /* padding around the grid */
}

@media only screen and (min-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(8, 1fr); /* 8 equal columns for desktop */
        grid-auto-rows: calc(12.5vw - 10px); /* Setting height equal to width */
    }
}

@media only screen and (max-width: 767px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr); /* 4 equal columns for mobile */
        grid-auto-rows: calc(25vw - 10px); /* Setting height equal to width */
    }
}


.grid-item {
    padding: 10px;
    text-align: center;
    align-content:center;
    margin: 10px;
    width:40%;
}

.pfp4{
    width:100%;
    margin: 0px;
    padding: 0px;
}





.email {
    margin: 0px;
    width:50vw;
    padding: 10px;
    margin-bottom: 10px;
    border:none;
    border-radius:10px;
    background-color: #e2e2e2;
    color: #000000;
}

.name {
    margin: 0px;
    width: 25vw;
    padding: 10px;
    margin-bottom: 10px;
    border:none;
    border-radius:10px;
    background-color: #e2e2e2;
    color: #000000;
}
.message {
    margin: 0px;
    width: 50vw;
    padding: 10px;
    margin-bottom: 10px;
    border:none;
    border-radius:10px;
    background-color: #e2e2e2;
    color: #000000;
}
button{
    margin: 0px;
    width: 30vw;
    border: none;
    border-radius: 10px;
    background-color: #1338bc;
    color: #ffffff;
    padding: 10px;
}

.footies{
    margin: 0px;
    padding-top: 15px;
    color: rgb(255, 255, 255);
    opacity:0%;
    transition: opacity 1s ease; /* Smooth transition for opacity change */
}

@keyframes fade {
    0% { opacity: 0.25; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
  }
  

  .tag{
    background-color: #ff3c00;
    border-radius: 100px;
    padding:5px;
    padding-left:10px;
    padding-right:10px;
    text-decoration: none;
    color: #e9e9e9;
  }
